---
const { project } = Astro.props;
---

<a href={project.link} target="_blank">
    <div class="card_project">
        <div class="content_project">
            <div class="card_title">
                <h3>{project.title}</h3>
                { project.isPlayStore && <img src="/play_store.png" alt="play store" />}
            </div>
            <p>
                {project.description}
            </p>
            <hr />
            <ul>
                {
                    project.tecnologies.map((tecnology) => (
                        <li>{tecnology}</li>
                    ))
                }
            </ul>
        </div>
        <img src={project.image} alt="image project" />
    </div>
</a>

<style>
    .card_project {
        max-width: 90%;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 800px;

        box-shadow: 3px 3px 0 rgba(76, 72, 61, 0.6);
        border: 1px solid var(--primary);

        transition-property: box-shadow, transform;
        transition: 0.3s ease-in-out;

        .card_title {
            h3{
                margin: 0;
                padding: 8px 0px 8px 8px;
                background-color: var(--primary);
                color: var(--onPrimary);
                min-height: 22px;
            }

            img {
                width: 120px;
                height: 40px;
            }
        }

        p {
            margin: 8px;
            color: var(--primary);
        }

        .content_project {
            width: 100%;
        }

        img {
            width: 90%;
            /* height: 300px; */
            /* background-color: var(--primary); */
            /* box-shadow: none; */
            margin: 8px;
            align-self: center;
        }

        hr{
            margin-block: 16px;
        }

        .p_tecnologies {
            color: var(--primary);
            font-weight: bold;
            margin: 8px;
            display: inline-block;
        }

        ul{
            list-style: none;
            padding: 0;
            margin: 8px;
            display: flex;
            flex-wrap: wrap;
            li {
                margin: 4px;
                padding: 6px;
                background-color: var(--primary);
                color: var(--onPrimary);
                border-radius: 4px;
            }
        }
    }

    .card_project:hover{
        box-shadow: 6px 6px 0 rgba(76, 72, 61, 0.6);
        transform: scale(1.03);
        
    }

    @media (width > 1024px) {
        .card_project {
            flex-direction: row;
            align-items: normal;
            min-height: auto;

            img{
                max-width: 350px;
            }
        }
    }
</style>
