---
import BaseLayout from "./BaseLayout.astro";
import ItemsButton from "../components/ItemsButton.astro";
import ItemBody from "../components/ItemBody.astro";
import Content from "../components/Content.astro";

const { title, items, id, itemHeight } = Astro.props;
---

<Content title={title} id={id}>
    <div class="main" id={id}>
        <!-- <ItemsButton items={items} /> -->
        <ItemBody items={items} itemHeight/>
    </div>
</Content>
